
<h1>Homepage</h1>  
               
<div class="accordion"> 
<ol class="breadcrumb">              
<button class="breadcrumb-item">/ Projects </button>
<button class="breadcrumb-item">/ Code </button>
<button class="breadcrumb-item">/ Contact </button>
</ol>                               

</div>
<div class="panel">

<p>
Hello my name is Marcus Wong, welcome to my website where you can learn more about me, my software and art projects. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>

</div>
