#name-title{
 font-size: 35px;
 font-family: "Verdana" !important, sans-serif !important;
}


#box2-first{
 padding:20px;
 height:20em;
}

#box2-second{
 height:26em;
 float:right;

}

#accordion-section{
 height:14em;
 width:50%;
}

#accordion-section h1{
 font-family: Arial, Helvetica, sans-serif;
 font-size:66px;
 opacity: 0.77;
}

#accordion-description{	
}

#copy-right{
 height:2em; 
 text-shadow: 0 0 3px white, 0 0 5px white;
}

#section-social{ 
 height:10em; 
}