
*{
  font-family: courier;
  color: #FFFCF6;  
}

* a{
 text-decoration: none !important;
}

.index-body{
  background-size: cover;
  background-image: url("./images/background-pic.gif");
}

.social-icons :hover{
  background-color:rgba(255, 255, 255, .3) !important;
}

.footer .fa{
  color: white !important;  
}

.content-description{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  //background-color:rgba(0, 0, 0, .4) !important;
  opacity: 0.8;
}
.shrink-button{

}

.shrink-button {
  float:right;
  font-size:16px;
  background-color: black;
  padding: 10px;
}

.content-description-container{
  width: 100%;
  height:20em;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer{
  float:right;
  font-size:15px;
}

.footer i{
}

.footer a{
  font-size:25px;
  padding:6px;
  background-color:grey;
  width:0.10;
}

.spaced-border{
  border-spacing: 15px;
  margin-left:0%;
  margin-right:0%;
}

